.promo
    &-nav
        display: flex
        margin-top: 15px
        justify-content: space-between
        line-height: 58px
        
        &__logo
            font-size: 24px
            font-weight: 500
    &-nav__menu
        &-ul
            list-style: none
            margin: 0
            padding: 0
            li
                display: inline
                padding: 0 10px
                font-size: 18px
                font-weight: 400
            li:nth-child(1)
                padding-left: 0
            li:nth-child(5)
                padding-right: 0