@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/IcoMoon/icomoon.eot?5p090l');
  src:  url('fonts/IcoMoon/icomoon.eot?5p090l#iefix') format('embedded-opentype'),
    url('../fonts/IcoMoon/icomoon.ttf?5p090l') format('truetype'),
    url('../fonts/IcoMoon/icomoon.woff?5p090l') format('woff'),
    url('../fonts/IcoMoon/icomoon.svg?5p090l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fiverr:before {
  content: "\e900";
  color: aliceblue;
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-github:before {
  content: "\eab0";
}
