.main{
    position: relative;
    width: 100%;
}

.container_rest{
    display: flex;
    margin: 0 auto;
    max-width: 1124px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.search_in_m{
    margin: 0 ;
    padding-left: 81px;
}

.search_in_m p {
    margin: 0;
    font-size: 22px;
}

.container_card{
    display: flex;
    margin: 0 auto;
    padding-left: 73px;
    max-width: 1124px;
    justify-content: space-between;
}

.row{
    width: 100%;
    margin: 0 auto;
}
.col-lg-4{
    margin: 8px;
    max-width: 19.5rem;
    height: 366px;
    padding: 0;
}

.card{
    width: 18rem;
}