*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', 'Arial', sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background: url(../img/main_bg.png) center center / cover no-repeat;
    padding: 38px 0 61px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 9.5px;
}

h1{
    margin-top: 53px;
}

h2.title{
    margin-top: 21px;
}

.title{
    color: #F9BF3B;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-transform: uppercase;
    text-align: center;
}

.simple .title_big{
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 21px;
}

.promo .promo_text{
    padding: 0 2px 0 2px;
    margin-top: 21px;
    color: #ffffff;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    font-family: "Roboto Light";
    font-weight: 300;
    text-align: center;
}

.promo .promo_text span{
    color: #F9BF3B;
    font-family: "Roboto - Bold";
    font-weight: 700;
}

.promo .promo_btn, .promo_btn_2{
    display: block;
    margin: 0 auto;
    margin-top: 73px;
    width: 313px;
    height: 72px;
    border: 4px solid rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
    color: #ffffff;
    font-family: "Robot Condense";
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
}

.promo .promo_about{
    color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    margin-top: 70.5px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
}

.promo .ind_img{
    display: block;
    margin: 0 auto;
    margin-top: 4px;
}

.about_int{
    height: 607px;
    background-color: #EFEFEF;
}

.about_int .about_text{
    color: #252525;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 85px;
}

.about_int .about_line, .about_line_2{
    width: 220px;
    height: 5px;
    background-color: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.about_int .about_promo{
    color: #4A4A4A;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    margin-top: 18px;
}

.about_int .about_wait{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.about_int .about_wait .wait{
    width: 339px;
    text-align: center;
}

.about_int .about_wait .wait .wait_img{
    width: 100%;
}

.about_int .about_wait .wait .wait_descr{
    margin-top: 33px;
    color: #4A4A4A;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;

}

.wooman_what{
    background: url(../img/woman_bg.png) no-repeat;
    background-position: left bottom;
    height: 607px;
}

.container .what_descr{
    width: 750px;
    height: 367px;
    padding-top: 119px;
    float: right;
}
.after_training{
    height: 450px;
    background: url(../img/second_bg.png) center center / cover no-repeat;

}

.container .what_descr .what_first{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #299cbd;
    margin-bottom: 25px;
}

.container .what_descr .what_sec{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4a4a4a;
}

.container .what_descr .what_sec span{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    color: #4a4a4a;
}


.after_training .could{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.after_training .could .finish{
    width: 208px;
    text-align: center;
}

.container .finish_dcr .finish_text{
    padding-top: 86px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color:#efefef;
}

.after_training .could .finish .finish_descr{
    color: #EFEFEF;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}


.gift_promo{
    background-color: rgba(239, 239, 239, 1);
    height: 628px;
}

.container .gift_icon .icon_gift{
    display: block;
    margin: 0 auto;
    padding-top: 85px;
    /* margin-top: 85px; */
}

.container .gift_text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    align-items: center;
    margin-top: 45px;
    color:#252525;
}

.container .promo_btn_2{
    margin-top: 51px;
    /* margin-bottom: 88px; */
    border: 0;
    background-image: linear-gradient(to top, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}



.container .web_descr{
    text-align: center;
    width: 577px;
    margin: 0 auto;
    margin-top: 81px;
    padding-bottom: 50px;
}

.container .web_descr .first_descr{
    margin-top: 36px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #252525;
    text-transform: uppercase;
}

.container .web_descr .second_descr{
    margin-top: 30px;
    width: 607px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #299cbd;
}

.container .web_descr .third_descr{
    margin-top: 24.5px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 23px;
    line-height: 20px;
    color: #4a4a4a;
}

.footer{
    background-color: rgba(26, 26, 26, 1);
    
    text-align: center;
    height: 169px;
    
}

.footer .container .foot_descr ul, li{
    list-style: none;
    display: inline;
}

.container .foot_descr .ft_line_1:after{
    content: " |";
}

.container .foot_descr{
    padding-top: 57px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: rgba(136, 136, 136, 1);
}

.container .foot_descr .contact{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: rgba(136, 136, 136, 1);
}